<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Project One - Subpage One</title>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	<!-- This is a special css library that overrides all the ugle default css styles that come with html5 -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="https://use.typekit.net/upc4fuz.css">
	

</head>
<body>
<!-- The video -->
<div id="slideshow">
  <div class="slide-wrapper">
    <div class="slide"><h1 class="slide-number">1</h1></div>
    <div class="slide"><h1 class="slide-number">2</h1></div>
    <div class="slide"><h1 class="slide-number">3</h1></div>
    <div class="slide"><h1 class="slide-number">4</h1></div>
    <div class="slide"><h1 class="slide-number">5</h1></div>
  </div>
</div>

<h1>Just a simple slideshow. CSS only, no JS</h1>

</body>
</html>