<!DOCTYPE html>
<html>

<head>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="text/html; charset=iso-8859-2" http-equiv="Content-Type">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.mySlides {display:none;}
</style>
</head>

<body>

<h1>Accessible HTML5 Audio Player</h1>

<p>
  <button class="audio-ctrl play">listen to audio</button>  
  <button class="audio-ctrl pause">pause</button>  
  <button class="audio-ctrl read">read transcript</button>
 </p>

<p class="visually-hidden audio-transcript" tabindex="0">This is an audio recording. You are hearing the audio.</p>

<audio controls id="player">
  <source src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/15309/test.mp3" type="audio/mpeg">
  <source src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/15309/audio.ogg" type="audio/ogg">
  <track src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/15309/transcription.vtt" label="English Captions" kind="subtitles" srclang="en-us" default />
  Your browser does not support HTML5 audio.
</audio>




<script src="script.js">
</script>

</body>
</html>
